<h1 class="name" translate="no">Seshat</h1>
<img src="assets/Seshat.png" class="img" />
<p>
  The name "Seshat" is inspired by the ancient Egyptian goddess Seshat, who was
  known as the goddess of writing, measurement, and wisdom in Egyptian
  mythology. In Egyptian mythology, Seshat was often depicted with a notepad and
  a stylus, symbolizing her role in recording and documenting important
  information. In a similar vein, my application helps you organize and sort
  your files, ensuring that your digital documents and data are well-organized
  and easily accessible.
</p>
<a
  href="https://github.com/MrChoppy/Seshat/releases/download/v1.0.0/Seshat.exe"
  class="get"
  >Download</a
>
<a href="https://github.com/MrChoppy/Seshat" class="oss">Source</a>
<a href="https://choppy.zip/">
  <h1 class="chop" translate="no">Choppy</h1>
</a>
<router-outlet></router-outlet>
